<!DOCTYPE html>
<html lang='en'>
<head> 
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title> Document </title>
</head>
<body>
    <nav> 
        <a href={% url "formulario"%}> Crear contacto </a> 
        <a href={% url "contactos"%}> Ver contactos </a>
    </nav>
    <h1>  <u> TuPrimeraPagina+Urquizu  </u> </h1>
    <p style="color:DarkGreen"> 
    Esta es una pagina la cual esta diseñada para crear, almacenar  y ver contactos.
    </p>
</body>
</html>